@import "variables";

.body{
    font-size: 14px;
}
.checkbox-friend {
    color: $grey;
}
.valid {
    color: $valid-green;
}
.btn-add-friend {
    background-color: Transparent;
    background-repeat:no-repeat;
    z-index:100;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.valid-response {
    font-size: 1.3em;
    > a {
        color:white;
        text-decoration: underline;
    }
}

.aw-list {
    list-style-type: none;
    padding-left: 4px;
    flex-wrap: wrap;
    display:flex;
    justify-content: center;
    > li {
        //flex: 1 21%;
        height: 200px;
        width: $three-per-row;
        margin:10px;
        max-width: 400px;
        text-align: center;
        border:1px solid #e1e8ed;
        
        display: flex;
        justify-content:center;
        align-content:center;
        flex-direction:column; /* column | row */
    }
}
