<template name="unkErrorModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Something went wrong</h4>
                </div>
                <div class="modal-body">
                    <img src="https://media.giphy.com/media/TmtICaDtJ7MPK/giphy.gif"/>
                    <br/><br/>
                    <p>Seems that something isn't working well. Create an <a href="https://github.com/kartojal/awesome-eth-redditors/issues">issue</a> if you need support!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>
