<template name="element">
    <li>
        <div class="user-info">
            <span class="fullname">{{fullname}}</span>
            <a href="https://reddit.com/user/{{nick}}">
                <span class="reddit-link icon-reddit"> {{nick}}</span>
            </a>
            <p>{{description}}</p>
        </div>
        <div class="social-links">
            {{#if twitter}}
            <a href="https://twitter.com/{{twitter}}">
                <span class="twitter-link icon-twitter"> {{twitter}}</span>
            </a>
            {{/if}}
            {{#if github}}
            <a href="https://github.com/{{github}}">
                <span class="github-link icon-github"> {{github}}</span>
            </a>
            {{/if}}
        </div>
        {{> actionButtons}}
    </li>
</template>
